#color-blocks {
  /* padding: 100px 0; */
  background-color: white;
}

#color-blocks .block {
  height: 250px;
  padding: 20px 30px 30px 30px;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 10px;
}
#color-blocks .block.first {
  background-color: transparent;
  color: #0d2b35;
}
#color-blocks .block.first h3 {
  max-width: 250px;
  font-size: 48px;
}
#color-blocks .block.creative {
  background-color: #0d2b35;
  color: white;
  text-align: center;
}
#color-blocks .block.creative h3 {
  display: inline-block;
  margin: auto;
  background: linear-gradient(
    90.14deg,
    #c6ab66 1.34%,
    #ffeba2 65.98%,
    #c8a845 98.3%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#color-blocks .block.creative p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 20px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
#color-blocks .block.creative .button {
  position: absolute;
  bottom: 27px;
  left: 0;
  right: 0;
}
