.nav-link {
  position: relative;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.2s;
  overflow: visible;
  display: inline-block;

  // border: 2px solid green;
}
.nav-link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--underline-color);
  transition: width 0.3s ease-in-out;
}
.nav-link:hover::before {
  width: 100%;
}

.has-underline .active-link::before {
  width: 100%;
}
